.blurb {
	@include rem(margin-bottom, 15px);
	border-bottom: 1px solid $base-ui-color;
}

.blurb__content {
	// @include rem(padding, 10px 0);
	@include font-size(14px);
}

.blurb__headshot {
	@include rem(padding, 10px 0);
}

@include respond-to($desk) {
	.blurb {
		width: 38%;
		margin-left: auto;
		margin-right: auto;
		@include rem(padding-bottom, 15px);
	}

	.blurb__headshot {
		padding: 0;
	}

	.blurb__content {
		@include rem(padding, 10px 0);
		p {
			margin: 0;
			line-height: 1.2;
		}
	}
}