.page-heading__wrapper {
	@include rem(padding, 30px 0 20px);
	background: url(/img/bgs/heading-bg2.png) top left repeat $red;
	text-align: right;
	text-transform: uppercase;
	color: white;
}

.page-heading__title {
	margin: 0;
	font-family: $base-title-text;
	@include font-size(80px);
	text-shadow: 4px 5px 0px black;
	line-height: 1;

	.fonts-loaded & {
		font-family: $custom-title-text;
	}
}

.page-heading__tagline {
	font-weight: bold;
	color: $mushroom;

	&:before {
		content: "///// ";
	}
}

@include respond-to($desk) {

	.page-heading__wrapper {
		@include rem(padding, 65px 0 50px);
	}

	.fonts-loaded .page-heading__title {
		@include font-size(100px);
	}
}