// Keyframes
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
       -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
         -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-65px);
       -moz-transform: translateY(-65px);
        -ms-transform: translateY(-65px);
         -o-transform: translateY(-65px);
            transform: translateY(-65px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
         -o-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }
}

// CSS Page Transitions
.m-scene {

  .scene_element {
    -webkit-animation-duration: 0.25s;
       -moz-animation-duration: 0.25s;
         -o-animation-duration: 0.25s;
            animation-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
       -moz-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
         -o-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  .scene_element--fadein {
    -webkit-animation-name: fadeIn;
       -moz-animation-name: fadeIn;
         -o-animation-name: fadeIn;
            animation-name: fadeIn;
  }

  .scene_element--fadeinup {
    -webkit-animation-name: fadeInUp;
       -moz-animation-name: fadeInUp;
         -o-animation-name: fadeInUp;
            animation-name: fadeInUp;
  }

  .scene_element--fadeindown {
    -webkit-animation-name: fadeInDown;
       -moz-animation-name: fadeInDown;
         -o-animation-name: fadeInDown;
            animation-name: fadeInDown;
  }

  .scene_element--fadeinright {
    -webkit-animation-name: fadeInRight;
       -moz-animation-name: fadeInRight;
         -o-animation-name: fadeInRight;
            animation-name: fadeInRight;
  }

  /** Reverse "exit" animations */
  &.is-exiting {

      .scene_element {
        -webkit-animation-direction: alternate-reverse;
           -moz-animation-direction: alternate-reverse;
             -o-animation-direction: alternate-reverse;
                animation-direction: alternate-reverse;
      }

  }

}