<div class="blurb">
	<div class="media">
		<img src="/img/elements/profile-mini.svg" onerror="this.onerror=null; this.src='/img/elements/profile-mini.png'" alt="" class="media__image blurb__headshot" />

		<div class="media__body blurb__content">
			<p>I'm Tom, a front end developer from Melbourne Australia.</p>
			<p>The thoughts and opinions on this site are all mine.</p>
		</div>
	</div>
</div>