<div class="page-heading__wrapper">

	<div class="container scene_element scene_element--fadeinright">

		<h1 class="page-heading__title"><%= @pageHeading %></h1>
		<p class="page-heading__tagline"><%= @pageTagline %></p>

	</div>

</div>