//////////////////////////////////////////////////
// A collection of web safe fonts
//////////////////////////////////////////////////

// Sans-serif Fonts
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$futura: Futura, "Trebuchet MS", Arial, sans-serif;
$geneva: Geneva, Tahoma, Verdana, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$impact: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;


// Serif Fonts
$baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$timesnewroman: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

// Monospaced Fonts
$couriernew: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$lucidasanstypewriter: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;

// Other
$copperplate: Copperplate, "Copperplate Gothic Light", fantasy;