<footer class="footer" role="contentinfo">
	
	<div class="container">
	
		<%= partial "HTML_Partials/blurb" %>

		<small>&copy; <%= Time.now.year %> <%= @siteName %>.</small>
		<small class="is-large">Built with <a href="http://middlemanapp.com" target="_blank">Middleman</a> using the <a href="http://smacss.com/" target="_blank">SMACSS</a> css architecture.</small>
		<small id="contact">Feel free to grab the <a href="/feed.xml">feed</a> and/or <a href="http://twitter.com/tom_gillard" target="_blank">follow me on Twitter</a>.</small>
	</div>

</footer>