		<!-- Site JS -->
		<script>
		    // Add a script element as a child of the body
		    function downloadJSAtOnload() {
		    	var element = document.createElement('script');
		    	element.src = '/js/site-scripts.js';
		    	document.body.appendChild(element);
		    }
		    // Check for browser support of event handling capability
		    if (window.addEventListener) {
			    window.addEventListener('load', downloadJSAtOnload, false);
		    } else if (window.attachEvent) {
		    	window.attachEvent('onload', downloadJSAtOnload);
		    } else {
		    	window.onload = downloadJSAtOnload;
		    }
		</script>

		<!-- Google Analytics -->
		<script>var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-27423893-2']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
	</body>
</html>