<header id="top" class="header" role="banner">

	<div class="container">

		<a href="#site-nav" class="mobile-menu-btn mobile-menu-btn--open is-small small-txt">Menu</a>

		<div class="logo">
			<a href="/" title="home">
				<p class="logo__title"><strong><%= @siteName %></strong></p>
			</a>
		</div>

		<%= partial "HTML_Partials/global/nav" %>

	</div>

</header>